*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
}

/* =================================== */
body {
    line-height: 1;
    font-family: Manrope;
    font-size: 16px;
    color: #333333;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

main {
    flex: 1 1 auto;
}

.header {
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

}

/* =================================== */
[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}

.title_center {
    text-align: center;
}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 162%;
    color: #333333;
}

/* ==================   HEADER  ================= */
.header__container {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.header__logo {
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    color: #31353B;
}

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-header__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 15px;

}

.menu-header__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
}

.menu-header__link:hover {
    text-decoration: underline;
}

.header__menu-bar {
    position: fixed;
    right: 5%;
    top: 40%;
}

.menu-bar-header {}

.menu-bar-header__items {}

.menu-bar-header__item {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}

.menu-bar-header__list {}

.menu-bar-header__link {}

/* ==================   block  ================= */
.block {
    padding: 0 0 100px 0;
}

.block__container {
    padding: 184px 10px 0 10px;
    position: relative;
}

.block__container::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    left: 68%;
    top: 0;
    z-index: 2;
    background: #BDCCFF;
}

.block__content {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}


.body-block {
    flex: 0 1 50%;
}

.body-block__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FF9900;
    padding: 0 0 24px 0;
    text-transform: uppercase;
}

.body-block__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    color: #000000;
    padding: 0 0 24px 0;
}

.body-block__text {
    font-size: 17px;
    letter-spacing: 0.01em;
    padding: 0 0 48px 0;
}

.body-block__form {
    display: flex;

}

.form__input {
    flex: 1 1 auto;
    padding-left: 74px;
    width: 100%;
    height: 86px;
    background: #FFFFFF url('../img/main/icon/home.svg') 34px 50% no-repeat;
    border: 1px solid #DADADA;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form__input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #31353B;
    opacity: 0.3;
}

.form__button {
    margin: 0 -188px 0 0;
    z-index: 3;
    width: 188px;
    height: 86px;
    background: #F85A47;
    color: #FFFFFF;
}

.form__button:hover {
    background: #ee2d18;
    transition: all 0.5s;

}

.block__slider {
    flex: 0 1 50%;
}

.swiper-slider-block__slid {
    position: relative;
    padding-bottom: 95%;
}

.swiper-slider-block__slid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-buttons {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-buttons .swiper-button-prev,
.swiper-buttons .swiper-button-next {
    position: static;
    top: 0;
    left: 0;
    width: 11px;
    height: 20px;
    background: url('../img/main/icon/arrow.svg') 0 0 no-repeat;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.partners {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.partners__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353B;
    margin-bottom: 27px;
}

.partners__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 5px;
}

.partners__item:hover {
    transform: scale(1.1);
    transition: .5s;
}

.partners__item img {
    width: 85px;
    height: 26.69px;
}


/* ================== main-how-works ================= */
.main-how-works {}

.how-works {
    padding: 100px 0;
}

.how-works__container {}

.how-works__title {
    padding-bottom: 70px;
}



.how-works__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    gap: 30px;
    justify-content: space-between;

}

.how-works__item {
    display: grid;
    text-align: center;
    justify-items: center;
    position: relative;


}

.how-works__item:nth-of-type(1)::after {
    content: "";
    position: absolute;
    width: 210px;
    height: 11px;
    top: 50%;
    left: 260px;
    background: url('../img/main/how-works/after.svg') 0 0 no-repeat;
}

.how-works__item:nth-of-type(2)::after {
    content: "";
    position: absolute;
    width: 210px;
    height: 11px;
    top: 50%;
    left: 260px;
    background: url('../img/main/how-works/after.svg') 0 0 no-repeat;
    transform: rotate(-180deg);
}

.item-how-works {}

.item-how-works__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.item-how-works__image_one {
    background: #9672FF;
    box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.item-how-works__image:hover img {
    transition: .6s;
    transform: rotate(360deg);

}

.item-how-works__image_one:hover {
    background: #7a50f9;
    transition: .6s;
}

.item-how-works__image_two {
    background: #4DDFFD;
    box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.item-how-works__image_two:hover {
    background: #29c6e6;
    transition: .6s;

}

.item-how-works__image_three {
    background: #F2B8EC;
    box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.item-how-works__image_three:hover {
    background: #f18de7;
    transition: .6s;
}

.item-how-works__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: #000000;
}

.item-how-works__text {
    text-align: center;
    font-size: 16px;
}

/* ==================   deals  ================= */
.main__deals {}

.deals {
    padding: 100px 0;
}

.deals__container {}

.deals__header {
    margin-bottom: 50px;
}

.deals__tabs {}


.header-deals {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-deals__content {}

.header-deals__title {
    margin-bottom: 15px;
}

.header-deals__text {
    font-size: 16px;
}

.header-deals__button {
    padding: 22px 34px;
    background: #F85A47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    color: #FFFFFF;
}

.header-deals__button:hover {
    background: #ee2d18;
    transition: all 0.5s;

}

.tabs-deals__nav {
    display: flex;
    align-items: center;
    column-gap: 50px;
    row-gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.tabs-deals__button {
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    background-color: inherit;
}

.tabs-deals__button:hover {
    color: #F85A47;
    transition: all 0.3s;
}

.tabs-deals__button:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    position: relative;
    background-color: #F85A47;
    bottom: -3px;
    display: block;
    left: 0;
}

.tabs-deals__button.active::after {
    content: "";
    width: 100%;
    height: 1px;
    position: relative;
    background-color: #F85A47;
    bottom: -3px;
    display: block;
    left: 0;
}

.tabs-deals__button.active {

    font-size: 19px;
    line-height: 26px;
    color: #F85A47;
}

.tabs-deals__items.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: center;
    gap: 30px;
}

.tabs-deals__items {
    display: none;
}

.tabs-deals__item {
    position: relative;

}

.tabs-deals__options {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    display: flex;
    gap: 6px;
}

.tabs-deals__option {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 6px 12px;
    color: #FFFFFF;
}

.tabs-deals__image {
    position: relative;
    padding-bottom: 84%;
    overflow: hidden;

}

.tabs-deals__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.tabs-deals__image:hover img {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* ==================   feature ================= */

.featured {
    padding: 100px 0;
}



.featured__title {
    padding-bottom: 95px;
}

.featured__body {
    padding: 82px 0 200px 0;
    background: #F1FFFF;
    display: flex;
    gap: 70px;
}

.body-featured {}

.body-featured__images {
    display: flex;
    flex-direction: column;
    position: relative;

}

.body-featured__image_mini {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 250px;
    padding-left: 40px;
}

.body-featured__content {}

.contant-featured {}

.contant-featured__title {
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    padding-bottom: 28px;
}

.contant-featured__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545A58;
    padding-bottom: 42px;
}

.contant-featured__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 81px;
    row-gap: 37px;
    padding-bottom: 54px;
}

.contant-featured__opions {}

.contant-featured__button {
    padding: 16px 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #F85A47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    color: #FFFFFF;
}

.contant-featured__button:hover {
    background: #ee2d18;
    transition: all 0.3s;
}

.opions-fiatured {}

.opions-fiatured__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    padding-bottom: 12px;
}

.opions-fiatured__value {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}

/* ==================   reviews  ================= */


.reviews {
    padding-bottom: 210px;
}

.reviews__container {
    display: flex;
    flex-direction: column;
}

.reviews__title {
    max-width: 570px;
    padding: 51px 0 30px 0;

}

.reviews__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
    padding-bottom: 106px;
}

.reviews__item {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 58px 32px;
    display: flex;
    flex-direction: column;
}

.reviews__item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);

}

.reviews__footer {
    display: flex;
    gap: 30px;
}

.reviews__partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px 80px;
}

.partners-reviews__item:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.reviews__info {
    max-width: 311px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    text-align: center;
    align-self: center;
    padding-top: 30px;
}

.reviews__info a {
    text-decoration-line: underline;
    color: #2CBDE7;
}

.reviews__info:hover a {
    text-decoration: none;
}

.item-reviews__rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3px;
    color: #dcdcdc;
    cursor: pointer;
}

.star:hover,
.star:hover~.star {
    color: #989898;
}

.item-reviews__rating[data-items='1'] .star:nth-child(n + 5),
.item-reviews__rating[data-items='2'] .star:nth-child(n + 4),
.item-reviews__rating[data-items='3'] .star:nth-child(n + 3),
.item-reviews__rating[data-items='4'] .star:nth-child(n + 2),
.item-reviews__rating[data-items='5'] .star:nth-child(n + 1) {
    color: #FBB040;
}

.item-reviews__text {
    padding: 33px 0 53px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}

.item-reviews__autor {
    display: flex;
    gap: 20px;
}

.autor-item-reviews__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.autor-item-reviews__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #666666;
}



/* ==================   subscribe  ================= */
.main__sunscribe {}

.sunscribe {
    padding-bottom: 150px;
}

.sunscribe__container {
    display: flex;
    flex-direction: column;

}

.sunscribe__title {
    padding-bottom: 11px;
}



.sunscribe__sub-title {
    padding-bottom: 34px;
    font-weight: 700;
    font-size: 23px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353B;
    text-align: center;
}

.sunscribe__form {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 23px 30px;
    max-width: 686px;
}

.form-sunscribe {
    background: #FFFFFF;
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.form-sunscribe__content {
    display: flex;
    flex-direction: column;
    padding-right: 220px;
}

.form-sunscribe__label {
    font-weight: 500;
    font-size: 17px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353B;
    opacity: 0.2;
    padding-bottom: 11px;
}

.form-sunscribe__input {
    font-weight: 700;
    font-size: 20px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353B;
    width: 100%;
}

.form-sunscribe__button {
    padding: 23px 40px;
    background: #F85A47;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.form-sunscribe__button:hover {
    background: #ee2d18;
    transition: all 0.5s;
}

/* ==================   FOOTER  ================= */
.footer {}

.footer__container {
    border-top: 1px solid #DEDFE1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer__logo {
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    color: #31353B;
    padding-right: 220px;
}

.footer__logo a {
    color: inherit;
}

.footer__link {}

.footer__menu {
    display: flex;
    margin: 65px 0 77px 0;

}

.footer__copy {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #31353B;
    padding-bottom: 36px;
}

.nenu-footer {
    justify-content: space-between;
    align-items: center;

}

.nenu-footer__item {
    display: flex;
    row-gap: 20px;
    column-gap: 46px;
    flex-wrap: wrap;
}

.nenu-footer__list {}

.nenu-footer__link {

    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #31353B;
}

.nenu-footer__link:hover {
    text-decoration: underline;
}

/* ==================   media  ================= */
@media (max-width:1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }

    .title {
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;

    }

    .block {
        padding: 0 0 70px 0;
    }

    .block__content {
        display: block;
    }

    .body-block__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    .body-block__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 55px;
    }

    .body-block__text {

        font-size: 16px;
        line-height: 20px;
    }

    .body-block__form {
        margin-bottom: 40px;
    }

    .form__button {
        margin: 0;
    }

    .swiper-buttons {
        display: none;
    }

    .main__container {
        padding: 130px 15px 0 15px;

    }

    .partners {
        margin-top: 30px;
        align-items: center;
        justify-content: center;
    }

    .partners__items {
        justify-content: center;
        gap: 25px;
    }

    .how-works {
        padding: 70px 0;
    }

    .how-works__title {
        padding-bottom: 50px;
    }

    .how-works__item:nth-of-type(1)::after {
        left: 190px;
        transform: scale(0.7);

    }

    .how-works__item:nth-of-type(2)::after {
        left: 190px;
        transform: scale(0.7);
    }

    .deals {
        padding: 70px 0;
    }

    .featured {
        padding: 80px 0;
        background: #F1FFFF;
    }

    .featured__title {
        padding-bottom: 55px;
    }

    .featured__body {
        padding: 0px 10px 200px 10px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 70px;
    }

    .contant-featured__title {
        font-weight: 500;
        font-size: 24px;

    }

    .contant-featured {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contant-featured__title {
        text-align: center;
    }

    .contant-featured__text {
        text-align: center;
        padding-bottom: 32px;
    }

    .reviews {
        padding-bottom: 150px;
    }

    .reviews__footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width:991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }

    .title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;

    }

    .block {
        padding: 0 0 50px 0;
    }

    .body-block__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .body-block__title {
        font-weight: 600;
        font-size: 44px;
        line-height: 44px;
    }

    .body-block__text {

        font-size: 16px;
        line-height: 20px;
    }

    .how-works__item:nth-of-type(1)::after {
        display: none;

    }

    .how-works__item:nth-of-type(2)::after {
        display: none;
    }

    .deals {
        padding: 50px 0;
    }

    .reviews {
        padding-bottom: 100px;
    }

    .reviews__partners {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 30px 50px;
    }

    .sunscribe {
        padding-bottom: 100px;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 45px 0 47px 0;

    }

    .footer__logo {
        padding: 0;
    }
}

@media (max-width:767.98px) {
    [class*="__container"] {
        max-width: none;
    }

    .block {
        padding: 0 0 30px 0;
    }

    .header__container {
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

    .body-block__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .body-block__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 36px;
    }

    .body-block__text {

        font-size: 16px;
        line-height: 20px;
    }

    .how-works__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .deals {
        padding: 30px 0;
    }

    .header-deals {
        flex-direction: column;

    }

    .header-deals__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }

    .contant-featured__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 25px;
        padding-bottom: 24px;
    }

    .reviews {
        padding-bottom: 70px;
    }

    .reviews__items {
        padding-bottom: 76px;
    }

    .reviews__title {
        text-align: center;
    }

    .sunscribe__form {
        display: flex;
        flex-direction: column;
        min-width: 320px;
    }

    .form-sunscribe__content {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .form-sunscribe__button {
        max-width: auto;
    }

    .nenu-footer__item {
        justify-content: center;

    }



    .footer__logo {
        padding: 0;
        align-self: center;
    }

    .footer__menu {
        margin: 35px 10px 47px 10px;
    }
}

/* =================================== */